<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Static Navigation - SB Admin</title>
        <link href="../static/css/styles.css" rel="stylesheet" />
        <script src="../static/assets/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!--<script src="https://kit.fontawesome.com/e759ba39a0.js" crossorigin="anonymous"></script>-->
        
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="./index">SIRIUS's Firewall</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                CRUD
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="./create">Create</a>
                                    <a class="nav-link" href="./index">Read & Update & Delete</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Monitoring
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="./network_state">Network-State</a>
                                    <a class="nav-link" href="./log">Ip-Tables Dashboard</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Detail_Management</div>
                            <a class="nav-link" href="./packet_sumulate">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Packet-Simulation
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4"><img src="../static/icon/iptable.png" width="80" height="80"> Packet-Simulation </h1>
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                
                                <p class="mb-0">
                                    <form action="./packet_simulate" id="packetSimulateForm">
                                        <table class="input-table" id = "packet_simulate_table" style="width: 100%;">
                                            <tr>
                                                <td><label for="src_ip">소스 IP 주소</label></td>
                                                <td><label for="dst_ip">목적지 IP 주소</label></td>
                                                <td><label for="src_port">소스 포트</label></td>
                                                <td><label for="dst_port">목적지 포트</label></td>
                                                <td><label for="protocol">프로토콜</label></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" id="src_ip" name="src_ip" placeholder="예: 192.168.1.1" required></td>
                                                <td><input type="text" id="dst_ip" name="dst_ip" placeholder="예: 192.168.1.2" required></td>
                                                <td><input type="text" id="src_port" name="src_port" placeholder="예: 8080"></td>
                                                <td><input type="text" id="dst_port" name="dst_port" placeholder="예: 8080"></td>
                                                <td>
                                                    <select id="protocol" name="protocol">
                                                        <option value="">ALL</option>
                                                        <option value="tcp">TCP</option>
                                                        <option value="udp">UDP</option>
                                                        <option value="icmp">ICMP</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="text-align: center;"><button type="submit"><img src="../static/icon/search.png" width="20" height="20">Search</button></td>
                                            </tr>
                                        </table>
                                    </form>
                                    
                                    <div class="col-lg-10 mx-auto">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fas fa-chart-bar me-1"></i>
                                                Simulation Results
                                            </div>
                                            <div class="card-body"><canvas id="MatchingBarChart" width="100%" height="50"></canvas></div>
                                            <div class="card-footer small text-muted">Updated</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mx-auto d-flex justify-content-center" id="MatchLinkButton"></div>
                                </p>
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../static/assets/matching-bar.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
                     
        <script>
            window.onload = function() {
                {% if success %}
                    alert("검색이 성공적으로 수행되었습니다.");
                {% endif %}
                {% if success=="No Answer" %}
                    alert("검색결과가 없습니다.");
                {% endif %}
            };
        </script>
    </body>
</html>
